#main_div
  #tab_div
    .row
      .col-md-4
        %h2 Our Focus
        %p Is on innovations to provide solutions for ease of use. The pragmatic and intuitive user interface with optimized cost and high quality is guiding values for the every design and services offered.
        %p We pay great attention to customer needs as we tune our solutions and offerings as per customer needs. We strongly believe that customer success is our success.
      .col-md-4
        %h2 Our Mission
        %p Keeping Customer Satisfaction at the forefront, as a strategy focused organization to encourage strong values of Trust, Integrity, Transparency, Confidence and Unity.
        %h2 Our Vision
        %p Be the very best technology product development company ever. Innovatively and profitably serving evident and potential market needs.
      .col-md-4
        %h2 Abul Hasan
        %p I, on behalf of Mindstack Solutions Team, welcome you at Mindstack Solutions Pvt. Ltd. Incepted in 2014, today we are one of the Trusted Software Development Company in India with over 50 clients across the Globe & Support Network of over 25 employees extend across 2 branches in India.
